{% extends 'base.html.twig' %}

{% block page_title %}Author{% endblock %}

{% block body %}
    <div class="container">
    <h1>Auteur</h1>
    <a href="{{ path('app_author_new') }}" class="btn btn-warning">Créé un Auteur</a>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de Naissance</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.firstname }}</td>
                    <td>{{ author.lastname }}</td>
                    <td>{{ author.birthdate ? author.birthdate|date('d-m-Y') : '' }}</td>
                    <td>{{ author.country }}</td>
                    <td>
                        <a href="{{ path('app_author_show', {'id': author.id}) }}" class="btn btn-primary">Détail</a>
                        <a href="{{ path('app_author_edit', {'id': author.id} ) }}" class="btn btn-secondary">éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Pas d'enregistrement</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
