{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('book_listing') }}">Les Livres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_author_index') }}">Les Auteurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_kinds_index') }}">Les genres</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul>
                    <li class="nav-item">
                        {% if (app.user) %}
                            <a href="{{ path('app_logout') }}" class="btn btn-success mt-2">Se Déconnecter</a>
                        {% else %}

                            <a href="{{ path('app_login') }}" class="btn btn-success mt-2">Se Connecter</a>
                            <a href="{{ path('app_register') }}" class="btn btn-info mt-2">S'inscrire</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}