{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Liste des Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>

                <th>IsVerified</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>BirthDate</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td> {{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.birthDate ? user.birthDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.city }}</td>
                <td>
                    <a class="btn btn-info m-1" href="{{ path('app_user_show', {'id': user.id}) }}">Détails</a>
                    <a class="btn btn-primary m-1" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas d'utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}
